{% extends 'app/base.html' %}
{% load static %}




{% block content %}
<div id="about">
    <div class="pic">
        <h1 class="headings">ABOUT ME</h1>
        <img src="{% static 'images/cat-large.png' %}" alt="">
        <div id="intro">
            <h2>CHRISTIAN BAROT</h2>
            <p>Hello! My name is Christian Barot, and I aspire to be a web developer someday. My love for cats is reflected in the icon of my website. I am dedicated to completing my studies and honing my skills to become an excellent developer in the future.</p>

        </div>
        

    </div>
</div>
{% endblock content%}

