{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div id="portfolio">
        <h1 class="port-headings">PORTFOLIO</h1>
        <div class="gallery">
            <img src="{% static 'images/port1.png' %}" alt="">
            <img src="{% static 'images/port2.png' %}" alt="">
            <img src="{% static 'images/port3.png' %}" alt="">
            <img src="{% static 'images/port4.png' %}" alt="">
            <img src="{% static 'images/port5.png' %}" alt="">
            <img src="{% static 'images/port6.png' %}" alt="">
            <img src="{% static 'images/port7.png' %}" alt="">
            <img src="{% static 'images/port8.png' %}" alt="">
            <img src="{% static 'images/port9.png' %}" alt="">
            <img src="{% static 'images/port10.png' %}" alt="">
            <img src="{% static 'images/port11.png' %}" alt="">
            <img src="{% static 'images/port12.png' %}" alt="">
            <img src="{% static 'images/port13.png' %}" alt="">
            <img src="{% static 'images/port14.png' %}" alt="">
        </div>
    </div>    





{% endblock content%}